<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="posts : ${list}">
        <td th:text="${posts.id}"></td>
        <td th:text="${posts.title}"></td>
        <td th:text="${posts.author}"></td>
        <td th:text="${posts.modifiedDate}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>